*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $backgroundColor;
    
}
html{
    font-size: 10px;
}a{
    text-decoration:none;
}
ul{
    margin: 0;
}