// Color 
$white: #fff;
$logoColor: #222222;
$silver: #efefef;
$borderUnderline: #4b6584;
$borderLeft: #3ae374;
$RegisterButtonBackground: #20bf6b;
$BlogSubmitBackground: #0097e6;
$errorColor: #eb3b5a;
$backgroundColor: #ecf0f1;



// Fonts
$headline1: 'Gelasio', serif;
$headline2:   'Inter', sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;
