.dashboard {
  margin-top: 5rem;
  user-select: none;
  & h1 {
    @extend %pageTitle;
  }
  &__body {
    margin-top: 5rem;
    &-header {
      font-family: $headline2;
      font-weight: 500;
      @extend %headlineBorderBottom;
    }
    &-card {
      @extend %headlineBorderBottom;
    }
    &-middle {
      margin-top: 3rem;
      & h2 {
        font-weight: 700;
        font-size: 16px;
        font-family: $headline2;
      }
      & h5 {
        font-weight: 400;
        font-size: 15px;
        color: #757575;
      }
    }
    &-lower {
      display: flex;
      & p {
        margin-top: 1rem;
        font-size: 14px;
        color: #757575;
        font-family: $headline2;
      }
      &-btn{
        background-color: white !important;
        border: none !important;
        border-radius:0;
        outline: none !important;
        color: black !important;
        font-size: 14px !important;
      }
      &-link{
        font-size: 14px !important;
        color: #757575;
        text-decoration: none;
      }
    }
    .pagination{
      justify-content: center;
    }
  }
}
