.postDetails {
  margin-top: 2.3rem;
  padding: 5px;
  &-title {
    font-size: 4.5rem;
    font-weight: 400;
    font-family: $headline1;
  }
  &-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }
  &-bodyText {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: #090909;
  }
  &__header {
    display: flex;
    margin-top: 3rem;

    &__avator {
      width: 4rem;
      height: 4rem;
      background: #40407a;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &__user {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      span:nth-child(1) {
        font-size: 1.6rem;
        text-transform: capitalize;
        font-weight: 600;
      }
      span:nth-child(2) {
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }
}

// comment section
.comment {
  margin-top: 4rem;
  @extend %headlineBorderTop;
  & h1 {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: $headline2;
  }
  &-box {
    font-weight: 400;
    margin-top: 2.5rem;
    font-size: 1.8rem;
    &-textArea {
      width: 100%;
      padding: 1rem;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 15px;
      background-color: $silver !important;
      border-bottom: 2px solid transparent;
    }
  }
  &-btn {
    font-size: 1.5rem;
  }
}

// comment show box
.commentShow {
  margin-top: 4rem;
  @extend %headlineBorderTop;
  padding: 25px;
  &-card {
    display: flex;
  }
  &-text {
    margin-top: 3rem;
    font-size: 18px;
    font-weight: 400;
    margin-left: 1rem;
  }
  &-footer {
    margin-top: 0.5rem;
    font-size: 13px;
    font-weight: 400;
    margin-left: 1rem;
  }
}
