.footer {
  margin-top: auto;
  background-color: black;
  color: white;
  height: 30rem;
  margin-top: 2rem;
  &-card {
    margin-top: 10rem;
    & h1 {
      font-weight: 500;
      font-size: 20px;
    }
    & p {
      font-weight: 500;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  @include responsive(mobile) {
    display: none;
  }
}
